<ion-view view-title="">
    <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search or add an item">
  </label>
</div>
     <ion-checkbox  ng-model="isChecked" ng-value="'A'">
        Faire les courses
    </ion-checkbox>
    <ion-checkbox  ng-value="'B'">
        Boucler UI points
    </ion-checkbox>
    <ion-checkbox  ng-value="'C'">
        Chercher deleuse pizza
    </ion-checkbox>
    <ion-checkbox  ng-value="'D'">
        Virement Alex
    </ion-checkbox>
    <ion-checkbox ng-value="'E'">
        Appeler mamie
   </ion-checkbox>
    <ion-checkbox ng-value="'F'">
        tests couleurs
   </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        Prendre billet train Strasbou...
   </ion-checkbox>
    <ion-checkbox ng-value="'A'">
        Librairie (Emotionnal Design, ...)
    </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Faire les courses
    </ion-checkbox>
    <ion-checkbox ng-value="'A'">
        Boucler UI points
    </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Chercher deleuse pizza
    </ion-checkbox>
    <ion-checkbox ng-value="'A'">
        Virement Alex
    </ion-checkbox>
    <ion-checkbox ng-value="'A'">
        Appeler mamie
   </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        tests couleurs
   </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Prendre billet train Strasbou...
    </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Librairie (Emotionnal Design, ...)
    </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Faire les courses
   </ion-checkbox>
    <ion-checkbox  ng-value="'A'">
        Boucler UI points
    </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        Chercher deleuse pizza
    </ion-checkbox>
    <ion-checkbox ng-value="'A'">
        Virement Alex
    </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        Appeler mamie
    </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        tests couleurs
    </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        Prendre billet train Strasbou...
    </ion-checkbox>
    <ion-checkbox   ng-value="'A'">
        Librairie (Emotionnal Design, ...)
    </ion-checkbox>
</ion-view>
