#plusPos {
	maring left: 200%;
}

#pageBuild {
	max-width: 100%;
	height: auto;
	margin-top: 50%;
}

#photoCalendar {
	margin-left: 100%;
}

#buddhaPos {
	margin-left: 115%;
}

#colorBar {
	color: blue;
}